body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1a1a1a;
    text-align: center;
}

.screen {
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    z-index: 100;
}

.hidden { display: none !important; }

/* Login */
.input-group { margin: 20px; font-size: 24px; }
input {
    font-size: 24px; padding: 10px; text-align: center;
    border: 2px solid black; border-radius: 5px;
}
#slot-day, #slot-month { width: 60px; }
#slot-year { width: 100px; }
#error-msg { color: red; font-weight: bold; }

/* MAPPA INTERATTIVA */
#map-screen {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    cursor: grab;
    background-color: #000;
}

#map-screen:active { cursor: grabbing; }

.map-container {
    position: absolute;
    top: 0; left: 0;
    display: inline-block;
    /* Impedisce di trascinare l'immagine come file */
    user-select: none; 
    -webkit-user-drag: none;
}

.game-map {
    display: block;
    max-width: none;
    height: auto;
    pointer-events: none; /* Impedisce interferenze col drag */
}

/* HOTSPOTS */
.hotspot {
    position: absolute;
    z-index: 10;
    cursor: pointer;
    /* Cambia border a 'none' e background a 'transparent' quando hai finito */
    border: 2px solid red; 
    background-color: rgba(255, 0, 0, 0.2);
}

/* Posizioni salvate */
#spot-mole { top: 44.63%; left: 39.75%; width: 200px; height: 200px; }
#spot-cappuccini { top: 3.12%; left: 71.58%; width: 200px; height: 200px; }
#spot-egizio { top: 30%; left: 62.11%; width: 200px; height: 200px; }
#spot-smashy { top: 71.97%; left: 40.23%; width: 200px; height: 200px; }

/* Livelli */
.back-btn {
    position: fixed;
    top: 20px; left: 20px;
    z-index: 1000;
    padding: 10px 20px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}
