body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0; padding: 0; overflow: hidden;
    background-color: #1a1a1a;
}

.screen {
    position: fixed; top: 0; left: 0;
    width: 100vw; height: 100vh;
    display: flex; flex-direction: column;
    align-items: center; justify-content: center;
}
.hidden { display: none !important; }

#login-screen { background: radial-gradient(circle at center, #ff1a1a 0%, #4d0000 100%); z-index: 1000; }
input { padding: 10px; width: 50px; text-align: center; border-radius: 5px; border: none; font-weight: bold; }

/* --- MAPPA PRINCIPALE --- */
#map-screen { background-color: #000; cursor: grab; }
.map-container { position: absolute; top: 0; left: 0; transform-origin: 0 0; will-change: transform; }
.game-map, #level-image { display: block; width: auto; height: 100vh; user-select: none; }

/* Collider Mappa (Ingranditi e spostati a destra/basso) */
.hotspot-trigger {
    position: absolute; z-index: 20; cursor: pointer;
    border: 3px solid rgba(255, 0, 0, 0.3);
    background: rgba(255, 0, 0, 0.1);
    border-radius: 50%;
}
/* Spostati leggermente a destra e in basso rispetto a prima */
#spot-mole { top: 46%; left: 41%; width: 130px; height: 130px; }
#spot-egizio { top: 32%; left: 64%; width: 130px; height: 130px; }
#spot-smashy { top: 73%; left: 42%; width: 130px; height: 130px; }

/* --- UI LIVELLI --- */
.back-btn {
    position: fixed; top: 20px; left: 20px; z-index: 3000;
    padding: 10px 15px; background: white; border: none; border-radius: 20px;
    cursor: pointer; font-weight: bold; box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

#win-back-btn {
    position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);
    z-index: 4000; padding: 20px 40px; background: #ff1a1a; color: white;
    border: none; border-radius: 50px; font-size: 20px; cursor: pointer;
    box-shadow: 0 0 30px rgba(255, 26, 26, 0.6);
}

#objects-to-find {
    position: fixed; bottom: 0; width: 100%; height: 100px;
    background: rgba(255, 255, 255, 0.95);
    border-top: 5px solid #ff1a1a;
    display: flex; justify-content: flex-start; align-items: center;
    gap: 15px; z-index: 2000; overflow-x: auto; padding: 0 20px;
    transition: transform 0.4s; transform: translateY(90px);
}
#objects-to-find:hover { transform: translateY(0); }
.target-item {
    min-width: 80px; height: 85px; border: 1px solid #ddd;
    display: flex; flex-direction: column; align-items: center; justify-content: center;
    background: white; border-radius: 8px; flex-shrink: 0;
}
.target-item img { max-width: 50px; max-height: 50px; object-fit: contain; }
.target-item span { font-size: 8px; text-align: center; }
.target-item.found { opacity: 0.2; background: #ccffcc; }

.found-marker {
    position: absolute; width: 60px; height: 60px;
    border: 5px solid #00ff00; border-radius: 50%;
    pointer-events: none; z-index: 100; transform: translate(-50%, -50%);
}
